@font-face {
  font-family: 'Brown-Bold';
  src: url("../fonts/lineto-brown-bold.ttf") format("truetype");
  font-weight: 900; }

@font-face {
  font-family: 'Brown-Italic';
  src: url("../fonts/lineto-brown-italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Brown-Light';
  src: url("../fonts/lineto-brown-light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Brown-Regular';
  src: url("../fonts/lineto-brown-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

body {
  background: radial-gradient(circle at center 10%, #2a2c3e 0%, #000 65%) 100% no-repeat;
  margin: 0;
  padding: 0; }

.slideshow {
  position: relative;
  overflow: hidden;
  margin: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 26%);
  grid-column-gap: 11%;
  grid-template-rows: 100%;
  grid-template-areas: '... slide ...'; }

.slide {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  grid-area: slide; }

.slide__img-wrap {
  width: 100%;
  height: 66.66667%;
  z-index: 100;
  position: absolute; }
  .slide__img-wrap .slide__line {
    width: 100px;
    height: 1px;
    background-color: #C2C2C2;
    position: absolute;
    top: -40px;
    z-index: 1000; }

.slide__img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: left top;
  position: absolute;
  pointer-events: none;
  /* transform: scale3d(1.01,1.01,1); */ }

.slide__title-wrap {
  width: 100%;
  z-index: 1000;
  position: absolute;
  bottom: -3.75em;
  left: -0.75em; }

.slide__title {
  font-size: 3.625em;
  font-family: 'Brown-Bold';
  color: #FFFFFF;
  margin: 0 0 0.375em; }

.slide__subtitle {
  font-size: 1.25em;
  font-family: 'Brown-Bold';
  color: #FFFFFF; }

.slideshow__deco {
  grid-area: slide;
  width: 100%;
  height: 66.66667%;
  align-self: center;
  position: relative;
  margin: -80px 0 0 0;
  right: -40px;
  background: #141414; }

.js .slide__img-wrap,
.js .slide__title-wrap,
.js .slide__line {
  opacity: 0;
  pointer-events: none; }

.js .slide--current .slide__img-wrap,
.js .slide--current .slide__line {
  opacity: 1;
  pointer-events: auto; }

.content {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100; }

.content__item {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: calc(10vh + 5rem) 0 7vh;
  width: 50.5%;
  right: 7.5%;
  overflow: hidden; }

.content__title {
  font-family: 'Brown-Regular';
  color: white;
  font-size: 3.625em;
  margin: 0 0 0.4em; }

.content__asset-wrap video {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.agenda {
  display: grid;
  grid-auto-rows: auto; }
  .agenda__item {
    display: grid;
    grid-template-columns: 20% 75%;
    grid-column-gap: 5%;
    font-family: 'Brown-Regular';
    padding: 3em 2em; }
    .agenda__item--current {
      border: 1px solid #505050;
      background-color: rgba(80, 80, 80, 0.2); }
    .agenda__item:not(.agenda__item--current) {
      border-bottom: 1px solid #505050; }
  .agenda__time {
    font-size: 1.125em;
    font-family: 'Brown-Light';
    color: #D0CECE; }
  .agenda__text p:first-child {
    font-size: 1.125em;
    font-family: 'Brown-Bold';
    color: #FFFFFF;
    text-transform: uppercase; }
  .agenda__text p:first-child ~ p {
    font-size: 1em;
    font-family: 'Brown-Regular';
    color: #D0CECE; }

.js .content__title,
.js .content__asset-wrap {
  opacity: 0; }
